aiofiles
aiohttp
async-lru
certifi
charset-normalizer
idna
motor
mutagen
pyaes
pycryptodome
pyrogram
pyromod
PySocks
python-dotenv
pytz
requests
soupsieve
speedtest-cli
TgCrypto
urllib3
websockets
yt-dlp
umongo